:root{
    --claro : #E9F1F2;
    --gris: #BAD9D9;
    --verde1:#8BD9D1;
    --verde2:#3DD9BC;
    --verde3:#77D9C7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif;
    background-color: var(--claro);
}

.contendorPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloPrin{
    font-size: 30px;
    margin-top: 25px;
    font-weight: bold;
    font-style: italic;
}

.contenedorLibros{
    width: 80%;
    margin: 25px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    font-family: 'Poppins', sans-serif;
}


.libro{
    display: flex;
    flex-direction: row;
    /*border: red 2px solid;*/
    padding: 15px;
    gap: 20px;
}

.portada{
    width: 150px;
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.titulo{
    font-size: 18px;
    font-weight: bold;
}

.autor{
    font-size: 15px;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

.botones button{
    border: none;
    background-color: #D9C6A5;
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    padding: 10px 15px;
    border-radius: 10px;
}


.vermas{
    
}

.carrito{
    display: flex;
    align-items: center;
}

.audiolibro{
    display: flex;
    align-items: center;
}