:root{
    --claro : #E9F1F2;
    --gris: #BAD9D9;
    --verde1:#8BD9D1;
    --verde2:#3DD9BC;
    --verde3:#77D9C7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif;
    background-color: var(--claro);
}

.categorias{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    margin-left: 10%;
    margin-top: 50px;
}

.categorias i{
    font-size: 150px;
    padding: 15px;
}

.podcast{
    shape-outside: circle();
    clip-path: circle();
    background-color: #B0D9C1;
    cursor: pointer;
    animation: rotateIn;
    animation-duration: 1.5s;
}

.libros{
    shape-outside: circle();
    clip-path: circle();
    background-color: #B0D9C1;
    cursor: pointer;
    animation: rotateIn;
    animation-duration: 1.5s;
}

.lugares{
    shape-outside: circle();
    clip-path: circle();
    background-color: #B0D9C1;
    cursor: pointer;
    animation: rotateIn;
    animation-duration: 1.5s;
}

.ig{
    shape-outside: circle();
    clip-path: circle();
    background-color: #B0D9C1;
    cursor: pointer;
    animation: rotateIn;
    animation-duration: 1.5s;
}

@media  (min-width: 900px) and (max-width: 1100px){
    .categorias i{
        font-size: 150px;
        padding: 15px;
    }
}

@media  (min-width: 800px) and (max-width: 900px){
    .categorias i{
        font-size: 120px;
        padding: 15px;
    }
}

@media  (min-width: 700px) and (max-width: 800px){
    .categorias{
        width: 90%;
        margin-left: 5%;
        margin-top: 50px;
    }
    
    .categorias i{
        font-size: 100px;
        padding: 15px;
    }
}

@media  (min-width: 600px) and (max-width: 700px){
    .categorias{
        width: 90%;
        margin-left: 5%;
        margin-top: 50px;
    }
    
    .categorias i{
        font-size: 80px;
        padding: 15px;
    }
}

@media  (min-width: 400px) and (max-width: 600px){
    .categorias{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 60%;
        margin-left: 20%;
        margin-top: 50px;
        gap: 40px 25px;
    }
    
    .categorias i{
        font-size: 80px;
        padding: 15px;
    }

    .podcast{
        display: flex;
        justify-content: center;
    }

    .libros{
        display: flex;
        justify-content: center;
    }

    .lugares{
        display: flex;
        justify-content: center;
    }

    .ig{
        display: flex;
        justify-content: center;
    }
}

@media  (min-width: 300px) and (max-width: 400px){
    .categorias{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin-left: 10%;
        margin-top: 50px;
        gap: 40px 25px;
    }
    
    .categorias i{
        font-size: 80px;
        padding: 15px;
    }

    .podcast{
        display: flex;
        justify-content: center;
    }

    .libros{
        display: flex;
        justify-content: center;
    }

    .lugares{
        display: flex;
        justify-content: center;
    }

    .ig{
        display: flex;
        justify-content: center;
    }
}