:root{
    --claro : #E9F1F2;
    --gris: #BAD9D9;
    --verde1:#8BD9D1;
    --verde2:#3DD9BC;
    --verde3:#77D9C7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif;
    background-color: var(--claro);
}

.categorias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
}

.categorias i{
    font-size: 150px;
    padding: 15px;
}

.podcast{
    shape-outside: circle();
    clip-path: circle();
    background-color: #B0D9C1;
    cursor: pointer;
    animation: rotateIn;
    animation-duration: 1.5s;
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
}

.podcast:hover{
    transform: scale(1.25);
}

.libros{
    shape-outside: circle();
    clip-path: circle();
    background-color: #B0D9C1;
    cursor: pointer;
    animation: rotateIn;
    animation-duration: 1.5s;
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
}

.libros:hover{
    transform: scale(1.25);
}

.lugares{
    shape-outside: circle();
    clip-path: circle();
    background-color: #B0D9C1;
    cursor: pointer;
    animation: rotateIn;
    animation-duration: 1.5s;
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
}

.lugares:hover{
    transform: scale(1.25);
}

.ig{
    shape-outside: circle();
    clip-path: circle();
    background-color: #B0D9C1;
    cursor: pointer;
    animation: rotateIn;
    animation-duration: 1.5s;
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
}

.ig:hover{
    transform: scale(1.25);
}

.series{
    shape-outside: circle();
    clip-path: circle();
    background-color: #B0D9C1;
    cursor: pointer;
    animation: rotateIn;
    animation-duration: 1.5s;
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
}

.series:hover{
    transform: scale(1.25);
}

@media  (min-width: 900px) and (max-width: 1100px){
    .categorias i{
        font-size: 150px;
        padding: 15px;
    }
}

@media  (min-width: 800px) and (max-width: 900px){
    .categorias i{
        font-size: 120px;
        padding: 15px;
    }
}

@media  (min-width: 700px) and (max-width: 800px){
    .categorias{
        width: 90%;
        margin-left: 5%;
        margin-top: 50px;
    }
    
    .categorias i{
        font-size: 100px;
        padding: 15px;
    }
}

@media  (min-width: 600px) and (max-width: 700px){
    .categorias{
        width: 90%;
        margin-left: 5%;
        margin-top: 50px;
    }
    
    .categorias i{
        font-size: 80px;
        padding: 15px;
    }
}

@media  (min-width: 400px) and (max-width: 600px){
    .categorias{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 60%;
        margin-left: 20%;
        margin-top: 50px;
        gap: 40px 25px;
    }
    
    .categorias i{
        font-size: 80px;
        padding: 15px;
    }

}

@media  (min-width: 300px) and (max-width: 400px){
    .categorias{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin-left: 10%;
        margin-top: 50px;
        gap: 40px 25px;
    }
    
    .categorias i{
        font-size: 80px;
        padding: 15px;
    }
}